
* {
    box-sizing: border-box;
}

body {
    font-family: 'Gloria Hallelujah', cursive;
}

/* Game grid stylings */

#game-grid {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 550px;
    padding: 10px 30px;
}

.card {
    flex: 0 1 21%;
    cursor: pointer;
    font-size: 1.5em;
    text-align: center;
    padding: 10% 0;
    margin: 10px 0;
    border-radius: 10%;
}

i.image-down {
    visibility: hidden;
}

.unmatched {
    cursor: pointer;
    box-shadow: 5px 5px 20px #555;
    transition: box-shadow 500ms ease-in-out;
    background-image: url("../images/leaves.png");
}
    
.unmatched:hover{    
    background: #eee;
    transition: background 150ms ease-in-out;
}

.selected {
    box-shadow: 2px 2px 5px #333;
    transition: box-shadow 150ms ease-in-out;
    background: #f6f4ee;
    transition: background 250ms ease-in-out;
    cursor: auto;
}

.match {
    cursor: auto;
    color: red;
    -webkit-animation: flash-gold 500ms linear 1ms 1;
    animation: flash-gold 500ms linear 1ms 1;
}

@-webkit-keyframes flash-gold {
    50% { background-color: gold; }
}
@keyframes flash-gold {  
    50% { background-color: gold; }
  }

/* Game header stylings */

h1 {
    text-align: center;
    font-size: 3em;
    margin: 10px;
}

.game-play {
    width: 75%; 
    margin: auto;
}

.rules {
    text-align: center;
    margin-bottom: 5px;
}

.progress, .restart, .stars {
    display: inline-block;
}
.info {
    text-align: center;
}

.restart {
    padding-left: 20px;
    cursor: pointer;
}

.progress {
    text-align: right;
}

.fas.fa-star {
    color: gold;
}

i.far.fa-star {
    color: black;
}

/* Modal stylings */

#modal {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: calc(0px - 100vw);
    min-width: 100%;
    background-image: url("../images/leaves.png");

}
#modal.show {
    left: 0px;
    transform: translate(0,0);
    transition: all 1s ease-in-out;
}
#modal-inner {
    text-align: center;
    width: 75%;
    margin: 10px auto;
    padding: 10px;
    position: relative;
    top: 25vh;
    box-shadow: 2px 2px 5px #333;
    background-color: white;
}

.fa-smile {
    font-size: 2em;
    color: green;
}
.game-status {
    margin: 10px;
    font-size: 1.5em;
}

.game-status > p {
    margin: 10px;
    display: inline-block;
}

.modal-restart {
    color: green;
    cursor: pointer;
    font-size: 1.5em;
}