
* {
    border: 1px solid red !important;
}

body {
    font-family: 'Gloria Hallelujah', cursive;
    /* font-family: 'Acme', sans-serif; */
}

.card {
    /* width: 25%; */
    flex: 0 1 24%;
    margin: 3px 0;
    height: 200px;
    cursor: pointer;

}

#game-grid {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.unmatched {
    display: none;
}