
* {
    border: 1px solid red !important;
}

body {
    font-family: 'Gloria Hallelujah', cursive;
    /* font-family: 'Acme', sans-serif; */
}

/* .card {
    width: 25%;  --- this hsould be commented out
    flex: 0 1 24%;
    margin: 3px 0;
    height: 200px;
    cursor: pointer;

} */

/* #game-grid {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

#game-grid {
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: repeat(4, 25vw);
  grid-gap: 2.5vw;
  padding: 2.5vw;
  /* background-color: gray; */
}

.unmatched {
    display: none;
}